html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.history {
  padding: 80px 0;
}
.history__all {
  display: flex;
  gap: 64px;
}
.history-picture {
  display: block;
  width: 535px;
  height: 359px;
}
.history-text {
  max-width: 720px;
  width: 100%;
}
.history-text__title {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history-text__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.history-text__title_span {
  color: #4F8FF0;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.history-text__title_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.history-text__text {
  margin-bottom: 32px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.history-text__text1 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__text2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__text3 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.history-text__button1 {
  max-width: 210px;
  width: 100%;
  height: 49px;
  transition: 0.5s;
}
.history-text__button1:hover {
  border: 2px solid #4F8FF0;
  background: #FFF;
  color: #4F8FF0;
}
.history-text__button2 {
  max-width: 161px;
  width: 100%;
  height: 49px;
}
.history-text__button2:hover {
  border: 2px solid #E6E6E6;
  background: #FFF;
}

@media screen and (max-width: 1250px) {
  .history-img {
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .history {
    padding: 60px 0;
  }
  .history-text__title_h2 {
    font-size: 24px;
  }
  .history-text__title_span {
    font-size: 24px;
  }
  .history-text__text {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 490px) {
  .container {
    padding: 0 24px;
  }
  .history {
    padding: 40px 0;
  }
  .history-text__title_h2 {
    font-size: 20px;
  }
  .history-text__title_span {
    font-size: 20px;
  }
  .history-text__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  .history-text__text {
    margin-bottom: 40px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NunitoSans";
  src: url(./font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf), url(), url(), url(), url();
}
.container {
  max-width: 1458px;
  width: 100%;
  padding: 0 69px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1458px;
  width: 100%;
  padding: 0 69px;
  margin: 0 auto;
}

@media screen and (max-width: 490px) {
  .container {
    padding: 0 24px;
  }
}
.header__top {
  padding: 16px 0;
  background-color: #010101;
  display: none;
}

.header__top_all {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.header__info_number {
  display: flex;
  width: 162px;
  align-items: center;
  gap: 8px;
}

.header__info_mail {
  display: flex;
  width: 162px;
  align-items: center;
  gap: 8px;
}

.number__text {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.mail__text {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.header__info_call {
  color: var(--blue-color-100, #4F8FF0);
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.header {
  background-image: url(./img/background-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.header__all {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 28px 0;
}

.header__menu {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
  gap: -10px;
}

h1 {
  color: var(--blue-color-100, #4F8FF0);
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}

.header__menu_name-text {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}

.header__main {
  width: 679px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main_link {
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.header__bottom-all {
  padding: 150px 0 36px 0;
}

.header__bottom-all_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 48px;
}

.header__bottom-all_text-1 {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}

.header__bottom-all_text-2 {
  color: var(--blue-color-100, #4F8FF0);
  font-family: "NunitoSans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.header__bottom-all_text-3 {
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.header__bottom-all_button {
  width: 158px;
  height: 49px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--blue-color-100, #4F8FF0);
  background: var(--blue-color-100, #4F8FF0);
  margin-bottom: 192px;
}

.header__bottom-all_slider {
  display: flex;
  max-width: 1320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.slider__menu {
  width: 28px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.slider__span {
  width: 4px;
  height: 24px;
  background: var(--white-color-300, #E6E6E6);
}

.slider__span_active {
  width: 4px;
  height: 40px;
  background: var(--blue-color-100, #4F8FF0);
}

.slider__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slider__button_left {
  background-image: url(./img/arrowleft.svg);
}

.services {
  background: #F7F7F7;
  padding: 80px 0;
}
.services-all__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.services-all__info_h2 {
  color: var(--colors-black-text, #222);
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.services-all__info_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.services-all__info_text {
  max-width: 920px;
  width: 100%;
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.services-all__articles {
  max-width: 1320px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  justify-content: space-between;
  justify-items: center;
  gap: 24px;
  row-gap: 38px;
}
.services-all__article {
  width: 100%;
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #FFF;
  justify-content: space-between;
}
.services-all__button {
  width: 138px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 34px;
}
.services-article path {
  transition: 0.5s;
}
.services-article:hover {
  background: #4F8FF0;
  transition: 0.5s;
}
.services-article:hover path {
  fill: #FFFFFF;
}
.services-article:hover .services-article__info_name {
  color: #FFF;
}
.services-article:hover .services-article__info_text {
  color: #FFF;
}
.services-article__img {
  width: 35px;
  height: 35px;
}
.services-article__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services-article__info_name {
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.services-article__info_text {
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 834px) {
  .services {
    padding: 60px 0;
  }
  .services-all__info_h2 {
    font-size: 24px;
  }
  .services-all__articles {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 24px;
  }
  .services-all__article {
    padding: 30px 32px 40px 32px;
    margin-bottom: 0;
  }
  .services-all__button {
    margin-top: 48px;
  }
  .services-article__info_name {
    line-height: 120%;
  }
  .services-article__info_text {
    font-weight: 300;
  }
}
@media screen and (max-width: 661px) {
  .services-all__articles {
    display: flex;
    overflow: scroll;
  }
  .services-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 390px) {
  .services {
    padding: 40px 0;
  }
  .services-all__info_h2 {
    font-size: 20px;
  }
  .services-all__info_text {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .services-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .services-all__article {
    width: 250px;
    height: 215px;
    padding: 24px 16px 32px 16px;
  }
  .services-all__button {
    margin-top: 30px;
  }
  .services-article__info_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.button {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.button:hover {
  border: 2px solid #4F8FF0;
  background: #FFF;
  color: #4F8FF0;
}
.button_gray {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button_gray:hover {
  border: 2px solid #E6E6E6;
  background: #FFF;
}

.lawyers {
  padding: 80px 0;
  background: #F7F7F7;
}
.lawyers-all__title {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.lawyers-all__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.lawyers-all__title_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.lawyers-all__title_text {
  max-width: 920px;
  width: 100%;
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.lawyers-all__articles {
  display: flex;
  gap: 24px;
}
.lawyers-all__article {
  max-width: 312px;
  width: 100%;
  padding: 0 0 24px 0;
  background-color: #FFFFFF;
}
.lawyers-all__article_picture {
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}
.lawyers-all__article-info {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.lawyers-all__article-info_name {
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.lawyers-all__article-info_profession {
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}/*# sourceMappingURL=style.css.map */