html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.history {
  padding: 80px 0;
}
.history__all {
  display: flex;
  gap: 64px;
}
.history-picture {
  display: block;
  width: 535px;
  height: 359px;
}
.history-text {
  max-width: 720px;
  width: 100%;
}
.history-text__title {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history-text__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.history-text__title_span {
  color: #4F8FF0;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.history-text__title_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.history-text__text {
  margin-bottom: 32px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.history-text__text1 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__text2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__text3 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.history-text__buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.history-text__button1 {
  height: 49px;
  transition: 0.5s;
  padding: 16px 24px;
}
.history-text__button1:hover {
  border: 2px solid #4F8FF0;
  background: #FFF;
  color: #4F8FF0;
}
.history-text__button2 {
  height: 49px;
  padding: 16px 24px;
}
.history-text__button2:hover {
  border: 2px solid #E6E6E6;
  background: #FFF;
}

@media screen and (max-width: 1250px) {
  .history-img {
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .history {
    padding: 60px 0;
  }
  .history-text__title_h2 {
    font-size: 24px;
  }
  .history-text__title_span {
    font-size: 24px;
  }
  .history-text__text {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 490px) {
  .container {
    padding: 0 24px;
  }
  .history {
    padding: 40px 0;
  }
  .history-text__title_h2 {
    font-size: 20px;
  }
  .history-text__title_span {
    font-size: 20px;
  }
  .history-text__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  .history-text__text {
    margin-bottom: 40px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NunitoSans";
  src: url(./font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf), url(), url(), url(), url();
}
.container {
  max-width: 1458px;
  width: 100%;
  padding: 0 69px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1458px;
  width: 100%;
  padding: 0 69px;
  margin: 0 auto;
}

@media screen and (max-width: 390px) {
  .container {
    padding: 0 24px;
  }
}
.header {
  background-image: url(./img/background-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__all {
  display: flex;
  justify-content: space-between;
  padding: 22px 69px 28px 69px;
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.header__menu {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
  gap: -10px;
}
.header__menu_h1 {
  color: var(--blue-color-100, #4F8FF0);
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.header__menu_text {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.header__main {
  width: 679px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main_link {
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  transition: 0.5s;
}
.header__main_link:hover {
  text-decoration: underline;
  color: #4F8FF0;
}
.header__bottom-all {
  padding: 150px 0 36px 0;
}
.header__bottom-all_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 48px;
}
.header__bottom-all_text-1 {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.header__bottom-all_text-2 {
  color: var(--blue-color-100, #4F8FF0);
  font-family: "NunitoSans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.header__bottom-all_text-3 {
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.header__bottom-all_button {
  padding: 16px 24px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--blue-color-100, #4F8FF0);
  background: var(--blue-color-100, #4F8FF0);
  margin-bottom: 192px;
}
.header__bottom-all_slider {
  display: flex;
  max-width: 1320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
  width: 24px;
  height: 24px;
  padding: 4px 3px;
  margin: 30px 0;
  border: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.header__burger_line, .header__burger_line::before, .header__burger_line::after {
  display: block;
  position: absolute;
  z-index: 100;
  width: 18px;
  height: 2px;
  border: none;
  background-color: #FFF;
}
.header__burger_line::before {
  content: "";
  top: 6px;
}
.header__burger_line::after {
  content: "";
  top: -6px;
}
.header__burger_ul {
  background-color: white;
  position: fixed;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 100%;
  padding: 50px 26px;
  list-style: none;
  transition: 0.5s;
  text-align: start;
}
.header__burger_li {
  text-align: start;
  margin-bottom: 24px;
}
.header__burger_a {
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  transition: 0.5s;
}
.header__burger_a:hover {
  text-decoration: underline;
  color: #4F8FF0;
}
.header__burger_label {
  z-index: 100;
}
.header__burger_menu {
  background: #222;
  position: fixed;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 100%;
  padding: 66px 28px 66px 26px;
  list-style: none;
  transition: 0.5s;
}

.header__burger input:checked ~ .header__burger_label .header__burger_line {
  transform: rotate(45deg);
}

.header__burger input:checked ~ .header__burger_label .header__burger_line::after {
  transform: rotate(90deg);
  top: 0;
}

.header__burger input:checked ~ .header__burger_label .header__burger_line::before {
  transform: rotate(0deg);
  top: 0;
}

.header__burger input:checked ~ .header__burger_menu {
  right: 0;
}

.container-header {
  z-index: 10;
  position: relative;
  background: rgba(1, 1, 1, 0.76);
  max-width: 100%;
  padding: 0;
}

.slider__menu {
  width: 28px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.slider__span {
  width: 4px;
  height: 24px;
  background: var(--white-color-300, #E6E6E6);
}
.slider__span_active {
  width: 4px;
  height: 40px;
  background: var(--blue-color-100, #4F8FF0);
}
.slider__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 70px;
}

#chekbox {
  display: none;
}

@media screen and (max-width: 1140px) {
  .header__main {
    display: none;
  }
  .header__burger {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 834px) {
  .header__all {
    padding: 0 69px;
  }
  .header__menu_h1 {
    font-size: 22px;
  }
  .header__menu_text {
    font-size: 16px;
  }
  .header__bottom-all {
    padding: 66px 0 24px 0;
  }
  .header__bottom-all_text {
    margin-bottom: 46px;
  }
  .header__bottom-all_text-1 {
    font-size: 24px;
  }
  .header__bottom-all_text-2 {
    font-size: 50px;
  }
  .header__bottom-all_text-3 {
    font-size: 18px;
  }
  .header__bottom-all_button {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 710px) {
  .header__menu_h1 {
    font-size: 22px;
  }
  .header__menu_text {
    font-size: 16px;
  }
  .header__bottom-all {
    padding: 66px 0 24px 0;
  }
  .header__bottom-all_text {
    margin-bottom: 46px;
  }
  .header__bottom-all_text-1 {
    font-size: 18px;
  }
  .header__bottom-all_text-2 {
    font-size: 30px;
  }
  .header__bottom-all_text-3 {
    font-size: 16px;
  }
  .header__bottom-all_button {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 481px) {
  .container__header {
    padding: 0 24px;
  }
  .header__bottom-all_slider {
    display: none;
  }
  .header__all {
    padding: 0 24px;
  }
}
@media screen and (max-width: 391px) {
  .header__bottom-all {
    padding: 60px 0;
  }
  .header__bottom-all_text {
    margin-bottom: 32px;
  }
  .header__bottom-all_text-2 {
    text-align: center;
  }
  .header__bottom-all_button {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 391px) {
  .header__bottom-all_text-1 {
    text-align: center;
  }
}
.services {
  background: #F7F7F7;
  padding: 80px 0;
}
.services-all__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.services-all__info_h2 {
  color: var(--colors-black-text, #222);
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.services-all__info_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.services-all__info_text {
  max-width: 920px;
  width: 100%;
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.services-all__articles {
  max-width: 1320px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  justify-content: space-between;
  justify-items: center;
  gap: 24px;
  row-gap: 38px;
}
.services-all__article {
  width: 100%;
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #FFF;
  justify-content: space-between;
}
.services-all__button {
  height: 49px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 48px;
}
.services-article {
  position: relative;
}
.services-article path {
  transition: 0.5s;
}
.services-article:hover {
  background: #4F8FF0;
  transition: 0.5s;
  cursor: url("./img/cursor.svg"), auto;
  border: none;
}
.services-article:hover path {
  fill: #FFFFFF;
}
.services-article:hover .services-article__info_name {
  color: #FFF;
}
.services-article:hover .services-article__info_text {
  color: #FFF;
}
.services-article:hover .services-article__hover_bl {
  display: block;
}
.services-article:hover .services-article__hover_br {
  display: block;
}
.services-article:hover .services-article__hover_tl {
  display: block;
}
.services-article:hover .services-article__hover_tr {
  display: block;
}
.services-article__img {
  width: 35px;
  height: 35px;
}
.services-article__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.services-article__info_name {
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.services-article__info_text {
  color: var(--colors-black-text, #222);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 100%;
}
.services-article__hover_bl {
  position: absolute;
  display: none;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  border-top: none;
  border-right: none;
  left: 20px;
  bottom: 20px;
}
.services-article__hover_br {
  position: absolute;
  display: none;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  border-top: none;
  border-left: none;
  right: 20px;
  bottom: 20px;
}
.services-article__hover_tl {
  position: absolute;
  display: none;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  border-bottom: none;
  border-right: none;
  left: 20px;
  top: 20px;
}
.services-article__hover_tr {
  position: absolute;
  display: none;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  border-bottom: none;
  border-left: none;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 834px) {
  .services {
    padding: 60px 0;
  }
  .services-all__info_h2 {
    font-size: 24px;
  }
  .services-all__articles {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 24px;
  }
  .services-all__article {
    padding: 30px 32px 40px 32px;
    margin-bottom: 0;
  }
  .services-all__button {
    margin-top: 48px;
  }
  .services-article__info_name {
    line-height: 120%;
  }
  .services-article__info_text {
    font-weight: 300;
    font-size: 14px;
  }
  .services-article__info_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 661px) {
  .container-2 {
    padding: 0px;
  }
  .services-all__articles {
    display: flex;
    overflow: scroll;
    padding: 0 69px;
  }
  .services-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .services-all__article {
    flex: 0 0 336px;
  }
}
@media screen and (max-width: 390px) {
  .services {
    padding: 40px 0;
  }
  .services-all__info {
    margin-bottom: 16px;
  }
  .services-all__info_h2 {
    font-size: 20px;
  }
  .services-all__info_text {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .services-all__articles {
    padding: 0 24px;
  }
  .services-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .services-all__article {
    flex: 0 0 250px;
    height: 215px;
    padding: 24px 16px 32px 16px;
  }
  .services-all__button {
    margin-top: 30px;
  }
  .services-article__info_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.button {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.button:hover {
  border: 2px solid #4F8FF0;
  background: #FFF;
  color: #4F8FF0;
}
.button_gray {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.button_gray:hover {
  border: 2px solid #E6E6E6;
  background: #FFF;
}

.lawyers {
  padding: 80px 0;
  background: #F7F7F7;
}
.lawyers-all__title {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.lawyers-all__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.lawyers-all__title_hr {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.lawyers-all__title_text {
  max-width: 920px;
  width: 100%;
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.lawyers-all__articles {
  display: flex;
  gap: 24px;
}
.lawyers-all__article {
  width: 312px;
  padding: 0 0 24px 0;
  background-color: #FFFFFF;
}
.lawyers-article {
  position: relative;
  width: 312px;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
}
.lawyers-article__picture {
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}
.lawyers-article__info {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.lawyers-article__info_name {
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.lawyers-article__info_profession {
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}
.lawyers-article__hover_info1 {
  display: none;
  color: #000;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.lawyers-article__hover_info2 {
  display: none;
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.lawyers-article__hover_bl {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #4F8FF0;
  border-right: none;
  border-top: none;
  left: 20px;
  bottom: 20px;
}
.lawyers-article__hover_br {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #4F8FF0;
  border-left: none;
  border-top: none;
  right: 20px;
  bottom: 20px;
}
.lawyers-article__hover_tl {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #4F8FF0;
  border-bottom: none;
  border-right: none;
  left: 20px;
  top: 20px;
}
.lawyers-article__hover_tr {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #4F8FF0;
  border-left: none;
  border-bottom: none;
  right: 20px;
  top: 20px;
}
.lawyers-article-hover {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 83px 20px 84px 20px;
}
.lawyers-article-hover__picture {
  display: none;
}
.lawyers-article-hover__info {
  padding: 0;
}
.lawyers-article-hover__hover_info1 {
  display: block;
}
.lawyers-article-hover__hover_info2 {
  display: block;
}
.lawyers-article-hover .lawyers-article-hover__hover_bl {
  display: block;
}
.lawyers-article-hover .lawyers-article-hover__hover_br {
  display: block;
}
.lawyers-article-hover .lawyers-article-hover__hover_tl {
  display: block;
}
.lawyers-article-hover .lawyers-article-hover__hover_tr {
  display: block;
}
.lawyers-article:hover {
  transition: 0.5s;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 83px 20px 84px 20px;
  cursor: url("./img/cursor-blue.svg"), auto;
}
.lawyers-article:hover .lawyers-article__picture {
  display: none;
}
.lawyers-article:hover .lawyers-article__info {
  padding: 0;
}
.lawyers-article:hover .lawyers-article__hover_info1 {
  display: block;
}
.lawyers-article:hover .lawyers-article__hover_info2 {
  display: block;
}
.lawyers-article:hover .lawyers-article__hover_bl {
  display: block;
}
.lawyers-article:hover .lawyers-article__hover_br {
  display: block;
}
.lawyers-article:hover .lawyers-article__hover_tl {
  display: block;
}
.lawyers-article:hover .lawyers-article__hover_tr {
  display: block;
}

@media screen and (max-width: 1402px) {
  .container-2__lawyers {
    padding: 0;
  }
  .lawyers-all__articles {
    display: flex;
    overflow: scroll;
    padding: 0 69px;
  }
  .lawyers-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .lawyers-article {
    flex: 0 0 312px;
  }
}
@media screen and (max-width: 834px) {
  .container-2__lawyers {
    padding: 0;
  }
  .lawyers {
    padding: 60px 0;
  }
  .lawyers-all__title_h2 {
    font-size: 24px;
  }
  .lawyers-all__articles {
    overflow: scroll;
    padding: 0 69px;
  }
  .lawyers-all__articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .lawyers-article {
    flex: 0 0 300px;
    height: 390px;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  }
}
@media screen and (max-width: 390px) {
  .lawyers {
    padding: 40px 0 46px 0;
  }
  .lawyers-all__title {
    margin-bottom: 16px;
  }
  .lawyers-all__title_h2 {
    font-size: 20px;
  }
  .lawyers-all__title_text {
    font-size: 14px;
    margin-bottom: 29px;
  }
  .lawyers-all__articles {
    padding: 0 24px;
  }
  .lawyers-article {
    flex: 0 0 250px;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  }
  .lawyers-article:hover {
    padding: 43px 20px 44px 20px;
  }
}
.reviews {
  background-image: url(./img/background-reviews.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.reviews-all__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.reviews-nav__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.reviews-nav__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.reviews-nav__title_span {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.reviews-nav__button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  margin-top: 13px;
}
.reviews-nav__button_left {
  fill: #4F8FF0;
}
.reviews-nav__button_right {
  fill: #4F8FF0;
}
.reviews-articles {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.reviews-article {
  background: #FFF;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  padding: 32px;
  width: 648px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.reviews-article__personal {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.reviews-article__personal_picture1 {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.reviews-article__personal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.reviews-article__personal-info_company {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.reviews-article__personal-info_name {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.reviews-article__text {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.reviews-all__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.reviews-all__button {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  height: 49px;
}
.reviews-all__button_gray {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  height: 49px;
  transition: 0.5s;
}

@media screen and (max-width: 1100px) {
  .container-2__reviews {
    padding: 0;
  }
  .reviews-articles {
    padding: 0 69px;
    display: flex;
    overflow: scroll;
  }
  .reviews-articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .reviews-article {
    flex: 0 0 576px;
  }
}
@media screen and (max-width: 834px) {
  .reviews {
    background-image: url(./img/background-834px.webp);
    padding: 60px 0;
  }
  .reviews-nav__title_h2 {
    font-size: 24px;
  }
  .reviews-article {
    flex: 0 0 576px;
  }
  .reviews-articles {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 650px) {
  .container-1 {
    padding: 0 24px;
  }
  .reviews-all__buttons {
    flex-direction: column;
    gap: 16px;
  }
  .reviews-nav__button {
    display: none;
  }
  .reviews-nav__title_h2 {
    font-size: 20px;
  }
  .reviews-article {
    padding: 24px;
    flex: 0 0 340px;
  }
  .reviews-article__personal {
    gap: 16px;
  }
  .reviews-article__personal-info_name {
    font-size: 18px;
  }
  .reviews-article__personal_picture1 {
    width: 50px;
    height: 50px;
  }
  .reviews-article__personal_picture2 {
    display: none;
  }
  .reviews-articles {
    padding: 0 24px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 390px) {
  .reviews {
    background-image: url(./img/background-mobile.webp);
    padding: 40px 0;
  }
  .reviews-all__nav {
    margin-bottom: 24px;
  }
}
.materials {
  padding: 80px 0;
}
.materials-all__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.materials-all__title_h2 {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.materials-all__title_span {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  border: none;
}
.materials-all__text {
  color: #222;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 48px;
}
.materials-articles {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.materials-article {
  width: 424px;
}
.materials-article__picture {
  width: 100%;
  transition: 0.5s;
}
.materials-article__picture_top {
  z-index: 100;
  position: relative;
  color: rgba(79, 143, 240, 0.4);
  background: rgba(79, 143, 240, 0.4);
}
.materials-article__hover_bl {
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  left: 20px;
  bottom: 20px;
  border-top: none;
  border-right: none;
  transition: 0.5s;
}
.materials-article__hover_br {
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  right: 20px;
  bottom: 20px;
  border-top: none;
  border-left: none;
  transition: 0.5s;
}
.materials-article__hover_tl {
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  top: 20px;
  left: 20px;
  border-bottom: none;
  border-right: none;
  transition: 0.5s;
}
.materials-article__hover_tr {
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #FFF;
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
  transition: 0.5s;
}
.materials-article__div {
  opacity: 0;
  position: absolute;
  width: 41px;
  height: 40px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}
.materials-article__div_svg {
  width: 20px;
  height: 20px;
}
.materials-article__overlay {
  background: rgba(79, 143, 240, 0.4);
  transition: 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.materials-article__info {
  display: flex;
  flex-direction: column;
  padding: 24.5px 0;
  gap: 16px;
}
.materials-article__info_name {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.5s;
}
.materials-article__info-time-span {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.materials-article__info_time {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  width: 120px;
}
.materials-article__info_Span {
  display: flex;
  align-items: center;
  width: 100%;
}
.materials-article__info_span {
  width: 100%;
  height: 1px;
  background: #F8F5F4;
  border: none;
}
.materials-article__info_text {
  color: #222;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.materials-article:hover {
  cursor: url("./img/cursor.svg"), auto;
}
.materials-article:hover .materials-article__hover_bl {
  opacity: 1;
}
.materials-article:hover .materials-article__hover_br {
  opacity: 1;
}
.materials-article:hover .materials-article__hover_tl {
  opacity: 1;
}
.materials-article:hover .materials-article__hover_tr {
  opacity: 1;
}
.materials-article:hover .materials-article__div {
  display: flex;
  opacity: 1;
}
.materials-article:hover .materials-article__info_name {
  color: #4F8FF0;
  transition: 0.5s;
}
.materials-article:hover .materials-article__overlay {
  opacity: 1;
}
.materials-button {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  border: 2px solid var(--blue-color-100, #4F8FF0);
  background: var(--blue-color-100, #4F8FF0);
  margin: 0 auto;
  margin-top: 48px;
}

@media screen and (max-width: 1120px) {
  .container-2__materials {
    padding: 0;
  }
  .materials-articles {
    display: flex;
    overflow: scroll;
    padding: 0 69px;
  }
  .materials-articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .materials-article {
    flex: 0 0 424px;
  }
}
@media screen and (max-width: 834px) {
  .materials {
    padding: 60px 0;
  }
  .materials-all__title {
    margin-bottom: 30px;
  }
  .materials-all__title_h2 {
    font-size: 24px;
  }
  .materials-all__text {
    margin-bottom: 29px;
  }
  .materials-article {
    flex: 0 0 336px;
  }
  .materials-article__picture {
    height: 270px;
  }
}
@media screen and (max-width: 480px) {
  .materials-article {
    flex: 0 0 250px;
  }
  .materials-article__picture {
    height: 200px;
  }
  .materials-article__info_Span {
    width: 120px;
  }
  .materials-all__title_h2 {
    font-size: 20px;
  }
  .materials-all__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .materials {
    padding: 40px 0;
  }
  .materials-all__title {
    margin-bottom: 16px;
  }
  .materials-all__title_h2 {
    font-size: 20px;
  }
  .materials-all__text {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .materials-articles {
    padding: 0 24px;
  }
  .materials-article__info_name {
    font-size: 14px;
  }
  .materials-button {
    margin-top: 40px;
  }
}
.footer {
  padding: 80px 0;
  background: #222;
}
.footer-all__hr {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #8C8C8C;
  border: none;
  margin: 48px 0;
}
.footer-title {
  display: flex;
  max-width: 1320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer-title__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -10px;
}
.footer-title__title_h2 {
  color: #4F8FF0;
  font-family: "NunitoSans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.footer-title__title_text {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.footer-title__text {
  color: #F8F5F4;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 862px;
  width: 100%;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-nav {
  display: flex;
  max-width: 312px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer-nav__link {
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.footer-nav__link:hover {
  color: #4F8FF0;
  text-decoration: underline;
}
.footer-lawyer {
  display: flex;
  flex-direction: column;
  max-width: 424px;
  width: 100%;
}
.footer-lawyer__lawyer {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}
.footer-lawyer__lawyer_picture {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 100px;
}
.footer-lawyer .lawyer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.footer-lawyer .lawyer-info__name {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.footer-lawyer .lawyer-info__text {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.footer-lawyer__text {
  color: var(--white-color-100, #FFF);
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.footer-button {
  display: flex;
  padding: 16px 24px;
  width: 245px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--blue-color-100, #4F8FF0);
  background: var(--blue-color-100, #4F8FF0);
  color: var(--white-color-100, #FFF);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  height: 49px;
}

.contacts-adress {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 55px;
  padding: 0 64px 0 0;
}
.contacts-adress__picture {
  background: var(--color-black-100, #2C2C2C);
  display: flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
}
.contacts-adress__picture_svg {
  width: 32px;
  height: 32px;
}
.contacts-adress__info_text {
  color: var(--white-color-400, #8C8C8C);
  font-family: "NunitoSans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.contacts-adress__info_adress {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

@media screen and (max-width: 1293px) {
  .footer-title__text {
    display: none;
  }
  .footer-nav {
    max-width: 250px;
  }
}
@media screen and (max-width: 1233px) {
  .footer-nav {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .contacts-adress {
    height: 45px;
    gap: 16px;
    padding: 0 32px 0 0;
  }
  .contacts-adress__picture {
    width: 45px;
    height: 45px;
  }
  .contacts-adress__picture_svg {
    width: 24px;
    height: 24px;
  }
  .contacts-adress__info_adress {
    font-size: 14px;
  }
  .footer-contacts {
    gap: 34px;
  }
  .footer-lawyer {
    max-width: 334px;
    width: 100%;
  }
}
@media screen and (max-width: 834px) {
  .footer {
    padding: 60px 0;
  }
  .footer-all__hr {
    margin: 24px 0;
  }
}
@media screen and (max-width: 806px) {
  .footer-info {
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media screen and (max-width: 472px) {
  .container-footer {
    padding: 0 24px;
  }
}
@media screen and (max-width: 390px) {
  .footer {
    padding: 40px 0;
  }
  .footer-contacts {
    gap: 16px;
  }
  .footer-title {
    justify-content: center;
  }
  .contacts-adress {
    padding: 0;
  }
}
.footer-rights {
  background: #181818;
}
.footer-rights__all {
  display: flex;
  justify-content: space-between;
  padding: 16px 69px;
}
.footer-rights__all_time {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.footer-rights__all_text {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 650px) {
  .footer-rights__all {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
  }
}
@media screen and (max-width: 337px) {
  .footer-rights__all_text {
    text-align: center;
  }
}
.header-top {
  padding: 16px 0;
  background-color: #010101;
}
.header-top__all {
  display: flex;
  justify-content: space-between;
}
.header-top__info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.header-top__info_number {
  display: flex;
  width: 162px;
  align-items: center;
  gap: 8px;
}
.header-top__info_mail {
  display: flex;
  width: 162px;
  align-items: center;
  gap: 8px;
}
.header-top__info_call {
  color: #4F8FF0;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.number__text {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.mail__text {
  color: #FFF;
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

@media screen and (max-width: 665px) {
  .header-top__info_mail {
    display: none;
  }
  .header-top__info_number {
    width: 158px;
  }
}
@media screen and (max-width: 481px) {
  .container__header-top {
    padding: 0 24px;
  }
}
@media screen and (max-width: 340px) {
  .header-top__all {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */