.button{
    display: flex;
    // padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #4F8FF0;
    background: #4F8FF0;
    color: #FFF;
    text-align: center;
    font-family: "NunitoSans", sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%; 
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &:hover{
        border: 2px solid #4F8FF0;
        background: #FFF;
        color: #4F8FF0;
    }

    &_gray{
        display: flex;
        // padding: 16px 24px;
        align-items: flex-start;
        gap: 10px;
        border: 2px solid #E6E6E6;
        background: #E6E6E6;
        color: #222;
        text-align: center;
        font-family: "NunitoSans", sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover{
            transition: 0.5s;
            border: 2px solid #E6E6E6;
            background: #FFF;
        }
    }
}