.footer{
    padding: 80px 0;
    background: #222;
    &-all{
        &__hr{
            width: 100%;
            height: 1px;
            opacity: 0.2;
            background: #8C8C8C;
            border: none;
            margin: 48px 0;
        }
    }

    &-title{
        display: flex;
        max-width: 1320px;
        width: 100%;
        justify-content: space-between;
        align-items: center;


        &__title{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: -10px;

            &_h2{
                color: #4F8FF0;
                font-family: "NunitoSans", sans-serif;
                font-size: 28px;
                font-weight: 900;
                line-height: 150%;
                text-transform: uppercase;
            }

            &_text{
                color: var(--white-color-100, #FFF);
                font-family: "NunitoSans", sans-serif;
                font-size: 20px;
                font-weight: 900;
                line-height: 150%;
                text-transform: lowercase;
            }
        }

        &__text{
            color: #F8F5F4;
            font-family: "NunitoSans", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: lowercase;
            max-width: 862px;
            width: 100%;
        }
    }

    &-info{
        display: flex;
        justify-content: space-between;
    }

    &-contacts{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &-nav{
        display: flex;
        max-width: 312px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        &__link{
            color: var(--white-color-100, #FFF);
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                color: #4F8FF0;
                text-decoration: underline;
            }
        }
    }

    &-lawyer{
        display: flex;
        flex-direction: column;
        max-width: 424px;
        width: 100%;

        &__lawyer{
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;

            &_picture{
                width: 65px;
                height: 65px;
                flex-shrink: 0;
                border-radius: 100px;
            }
        }

        .lawyer-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            flex: 1 0 0;

            &__name{
                color: var(--white-color-100, #FFF);
                font-family: "NunitoSans", sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 150%;
            }

            &__text{
                color: var(--white-color-100, #FFF);
                font-family: "NunitoSans", sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 120%; 
            }
        }

        &__text{
            color: var(--white-color-100, #FFF);
            font-family: "NunitoSans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 24px;
        }
    }

    &-button{
        display: flex;
        padding: 16px 24px;
        width: 245px;
        align-items: flex-start;
        gap: 10px;
        border: 2px solid var(--blue-color-100, #4F8FF0);
        background: var(--blue-color-100, #4F8FF0);
        color: var(--white-color-100, #FFF);
        text-align: center;
        font-family: "NunitoSans", sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        height: 49px;
    }
}

.contacts-adress{
    display: flex;
    align-items: center;
    gap: 24px;
    height: 55px;
    padding: 0 64px 0 0;

    &__picture{
        background: var(--color-black-100, #2C2C2C);
        display: flex;
        width: 55px;
        height: 55px;
        justify-content: center;
        align-items: center;

        &_svg{
            width: 32px;
            height: 32px;
        }
    }
    &__info{
        &_text{
            color: var(--white-color-400, #8C8C8C);
            font-family: "NunitoSans", sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
        }
        &_adress{
            color: #FFF;
            font-family: "NunitoSans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 150%; 
            text-decoration: none;
        }
    }
}

@media screen and (max-width:1293px) {
    .footer{
        &-title{
            &__text{
                display: none;
            }
        }

        &-nav{
            max-width: 250px;
        }
    }
    
}

@media screen and (max-width:1233px) {
    .footer{
        &-nav{
            display: none;
        }
    }
    
}

@media screen and (max-width:980px) {
    .contacts-adress{
        height: 45px;
        gap: 16px;
        padding: 0 32px 0 0;

        &__picture{
            width: 45px;
            height: 45px;

            &_svg{
                width: 24px;
                height: 24px;
            }
        }

        &__info{
            &_adress{
                font-size: 14px;
            }
        }
    }
    .footer{
        &-contacts{
            gap: 34px;
        }

        &-lawyer{
            max-width: 334px;
            width: 100%;
        }
    }
}

@media screen and (max-width:834px) {
    .footer{
        padding: 60px 0;

        &-all{
            &__hr{
                margin: 24px 0;
            }
        }
    }
}

@media screen and (max-width:806px){
    .footer{
        &-info{
            flex-wrap: wrap;
            gap: 40px;
        }
    }
    
}

@media screen and (max-width:472px){
    .container-footer{
        padding: 0 24px;
    }
}

@media screen and (max-width:390px){
    .footer{
        padding: 40px 0;
        &-contacts{
            gap: 16px;
        }

        &-title{
            justify-content: center;
        }
    }
    .contacts-adress{
        padding: 0;
    }
}