.container{
    &__header{
        

        // background-image: url(./img/background-img.webp);
        // background-repeat: no-repeat;
        // background-size: cover;
    }
    &-header{
        position: absolute;
        top: 53px;
    }
}

.header{
    background-image: url(./img/background-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
    background-color: rgba(1, 1, 1, 0.36);
    background-blend-mode: multiply;
    background-position: center;
    
    

    &__all{
        display: flex;
        justify-content: space-between;
        padding: 22px 69px 28px 69px;
        max-width: 1458px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    &__menu{
        display: flex;
        width: 312px;
        flex-direction: column;
        align-items: flex-start;
        gap: -10px;

        &_h1{
            color: var(--blue-color-100, #4F8FF0);
            font-family: "NunitoSans", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: 150%;
            text-transform: uppercase;
        }

        &_text{
            color: var(--white-color-100, #FFF);
            font-family: "NunitoSans", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 150%; 
            text-transform: lowercase;
        }
    }

    &__main{
        width: 679px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_link{
            color: var(--white-color-100, #FFF);
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-decoration: none;
            transition: 0.5s;
            // transition-duration: 2s;
            scroll-behavior: smooth;
        
            &:active{
                transition: 2s;
            }

            &:hover{
                text-decoration: underline;
                color: #4F8FF0;
            }
        }
    }

    &__bottom-all{
        padding: 272px 0 36px 0;

        &_text{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            margin-bottom: 48px;

            &-1{
                color: #FFF;
                font-family: "NunitoSans", sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                text-transform: uppercase;
            }

            &-2{
                color: var(--blue-color-100, #4F8FF0);
                font-family: "NunitoSans", sans-serif;
                font-size: 56px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                text-transform: uppercase;
            }

            &-3{
                color: var(--white-color-100, #FFF);
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }

        &_button{
            padding: 16px 24px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            color: var(--white-color-100, #FFF);
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%; 
            text-transform: uppercase;
            cursor: pointer;
            border: 2px solid var(--blue-color-100, #4F8FF0);
            background: var(--blue-color-100, #4F8FF0);
            margin-bottom: 192px;
        }

        &_slider{
            display: flex;
            max-width: 1320px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__burger{
        display: none;
        width: 24px;
        height: 24px;
        padding: 4px 3px;
        margin: 30px 0;
        border: none;
        background-color: transparent;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        
        &_line, &_line::before, &_line::after{
            display: block;
            position: absolute;
            z-index: 100;
            width: 18px;
            height: 2px;
            border: none;
            background-color: #FFF;
            
        }

        &_line{
            display: flex;
            width: 15px;
            flex-direction: column;
            align-content: flex-end;
            flex-wrap: wrap;
            align-items: flex-end;
            margin-left: 3px;
        }

        &_line::before{
            content:"";
            top: 6px;
        }

        &_line::after{
            content:"";
            top: -6px;
        }

        &_ul{
            background-color: white;
            position: fixed;
            top: 0;
            right: 100%;
            height: 100vh;
            width: 100%;
            padding: 50px 26px;
            list-style: none;
            transition: 0.5s;
            text-align: start;
        }

        &_li{
            text-align: start;
            margin-bottom: 24px;
        }

        &_a{
            color: #FFF;
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                text-decoration: underline;
                color: #4F8FF0;
            }
        }

        &_label{
            z-index: 100;
        }

        &_menu{
            background: #222;
            position: fixed;
            top: 0;
            right: 100%;
            height: 100vh;
            width: 100%;
            padding: 66px 28px 66px 26px;
            list-style: none;
            transition: 0.5s;
            z-index: 10;
        }
    }
}

// .header__burger input:checked ~ .header__burger_label .header__burger_line{
//     transform: rotate(45deg);
// }

// .header__burger input:checked ~ .header__burger_label .header__burger_line::after{
//     transform: rotate(90deg);
//     top: 0;
// }

// .header__burger input:checked ~ .header__burger_label .header__burger_line::before{
//     transform: rotate(0deg);
//     top: 0;
// }

// .header__burger input:checked ~ .header__burger_menu {
//     right: 0;
// }

.container-header{
    z-index: 10;
    background: rgba(1, 1, 1, 0.76);
    max-width: 100%;
    padding: 0;
}

.slider{
    &__menu{
        width: 28px;
        height: 40px;
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    &__span{
        width: 4px;
        height: 24px;
        background: var(--white-color-300, #E6E6E6);
        transition: 0.5s;
        &_active{
            width: 4px;
            height: 40px;
            background: var(--blue-color-100, #4F8FF0);
        }
    }

    &__button{
        &_center{
            width: 32px;
            height: 2px;
            background-color: #FFF;
            transform: rotate(120deg);
            position: absolute;
            top: 9px;
            left: 19px;
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
        gap: 30px;
        width: 70px;
        position: relative;

        &_leftSvg{
            transition: 1s;
            cursor: pointer;
            &:active{
                path{
                    fill: #4F8FF0;
                    transition: 0.5s;
                }
            }
            &:hover{
                path{
                    fill: #4F8FF0;
                    transition: 0.5s;
                }
            }
        }
        
        &_rightSvg{
            transition: 1s;
            cursor: pointer;
            &:active{
                path{
                    fill: #4F8FF0;
                    transition: 1s;
                }
            }
            &:hover{
                path{
                    fill: #4F8FF0;
                    transition: 1s;
                }
            }
        }
    }
}

#chekbox{
    display: none;
}

@media screen and (max-width:1140px){
    .header{
        &__main{
            display: none;
        }

        &__burger{
            display: flex;
            justify-content: center;
            z-index: 1000;
        }
    }
}

@media screen and (max-width:834px){
    .header{

        &__all{
            padding: 0 69px;
        }

        &__menu{
            &_h1{
                font-size: 22px;
            }
            &_text{
                font-size: 16px;
            }
        }

        &__bottom-all{
            padding: 148px 0 24px 0;
            &_text{
                margin-bottom: 46px;

                &-1{
                    font-size: 24px;
                }
                &-2{
                    font-size: 50px;
                }
                &-3{
                    font-size: 18px;
                }
            }

            &_button{
                margin-bottom: 36px;
            }
        }
    }
}

@media screen and (max-width:710px){
    .header{
        &__menu{
            &_h1{
                font-size: 22px;
            }
            &_text{
                font-size: 16px;
            }
        }

        &__bottom-all{
            padding: 148px 0 24px 0;
            &_text{
                margin-bottom: 46px;

                &-1{
                    font-size: 18px;
                }
                &-2{
                    font-size: 30px;
                }
                &-3{
                    font-size: 16px;
                }
            }

            &_button{
                margin-bottom: 36px;
            }
        }
    }
}

@media screen and (max-width:481px){
    .container__header{
        padding: 0 24px;
    }
    .header{
        &__bottom-all{
            &_slider{
                display: none;
            }
        }

        &__all{
            padding: 0 24px;
        }
    }
}

@media screen and (max-width:391px){
    .header{
        &__bottom-all{
            padding: 142px 0;
            &_text{
                margin-bottom: 32px;
                &-2{
                    text-align: center;
                }
            }

            &_button{
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width:391px){
    .header{
        &__bottom-all{
            &_text{
                &-1{
                    text-align: center;
                }
            }
        }
    }
}