.lawyers{
    padding: 80px 0;
    background: #F7F7F7;

    &-all{
        &__title{
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 24px;

            &_h2{
                color: #222;
                font-family: "NunitoSans", sans-serif;
                font-size: 28px;
                font-weight: 800;
                line-height: 150%; 
                text-transform: uppercase;
            }

            &_hr{
                width: 50px;
                height: 3px;
                background: #4F8FF0;
                border: none;
            }

            &_text{
                max-width: 920px;
                width: 100%;
                color: #222;
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin: 0 auto;
                margin-bottom: 48px;
            }
        }

        &__articles{
            display: flex;
            gap: 24px;
        }

        &__article{
            width: 312px;
            padding: 0 0 24px 0;
            background-color: #FFFFFF;
        }
    }

    &-article{
        position: relative;
        width: 312px;
        box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);

        &__picture{
            width: 100%;
            overflow: hidden;
            margin-bottom: 24px;
            height: 320px;
        }

        &__info{
            display: flex;
            padding: 0px 16px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            align-self: stretch;

            &_name{
                color: #222;
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }

            &_profession{
                color: #222;
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 120%;
                text-transform: lowercase;
            }
        }

        &__hover{
            &_info1{
                display: none;
                color: #000;
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 120%; 
            }

            &_info2{
                display: none;
                color: #222;
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 120%;
            }
            &_bl{
                position: absolute;
                display: none;
                width: 25px;
                height: 25px;
                border: 1px solid #4F8FF0;
                border-right: none;
                border-top: none;
                left: 20px;
                bottom: 20px;
            }
            &_br{
                position: absolute;
                display: none;
                width: 25px;
                height: 25px;
                border: 1px solid #4F8FF0;
                border-left: none;
                border-top: none;
                right: 20px;
                bottom: 20px;
            }
            &_tl{
                position: absolute;
                display: none;
                width: 25px;
                height: 25px;
                border: 1px solid #4F8FF0;
                border-bottom: none;
                border-right: none;
                left: 20px;
                top: 20px;
            }
            &_tr{
                position: absolute;
                display: none;
                width: 25px;
                height: 25px;
                border: 1px solid #4F8FF0;
                border-left: none;
                border-bottom: none;
                right: 20px;
                top: 20px;
            }

        }

        &-hover{
            gap: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 83px 20px 84px 20px;

            &__picture{
                display: none;
            }

            &__info{
                padding: 0;
            }

            &__hover{
                &_info1{
                   display: block; 
                }
                &_info2{
                    display: block;
                }
            }

            .lawyers-article-hover__hover{
                &_bl{
                    display: block;
                }
                &_br{
                    display: block;
                }
                &_tl{
                    display: block;
                }
                &_tr{
                    display: block;
                }
            }
        }

        &:hover{
            transition: 0.5s;
            gap: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 83px 20px 84px 20px;
            cursor: url("./img/cursor-blue.svg"), auto;

            .lawyers{
                &-article{
                    &__picture{
                        display: none;
                    }

                    &__info{
                        padding: 0;
                    }

                    &__hover{
                        &_info1{
                           display: block; 
                        }
                        &_info2{
                            display: block;
                        }
                    }
                }
                
            }
            
            
            .lawyers-article__hover{
                &_bl{
                    display: block;
                }
                &_br{
                    display: block;
                }
                &_tl{
                    display: block;
                }
                &_tr{
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width:1402px){
    .container-2__lawyers{
        padding: 0;
    }
    .lawyers-all__articles{
        display: flex;
        overflow: scroll;
        padding: 0 69px;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .lawyers-article{
        flex: 0 0 312px;
    }

}

@media screen and (max-width:834px){
    .container-2__lawyers{
        padding: 0;
    }

    .lawyers{
        padding: 60px 0;

        &-all{

            &__title{
                &_h2{
                    font-size: 24px;
                }
            }

            &__articles{
                overflow: scroll;
                padding: 0 69px;
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
        }

        &-article{
            flex: 0 0 300px;
            height: 390px;
            box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
        }
    }
}

@media screen and (max-width:390px){
    .lawyers{
        padding: 40px 0 46px 0;

        &-all{

            &__title{
                margin-bottom: 16px;
                &_h2{
                    font-size: 20px;
                }
                &_text{
                    font-size: 14px;
                    margin-bottom: 29px;
                }
            }

            &__articles{
                padding: 0 24px;
            }
        }

        &-article{
            flex: 0 0 250px;
            box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);

            &__picture{
                height: 235px;
            }

            &:hover{
                padding: 43px 20px 44px 20px;
            }
        }
    }
}