.materials{
    padding: 80px 0;

    &-all{
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 24px;

            &_h2{
                color: #222;
                font-family: "NunitoSans", sans-serif;
                font-size: 28px;
                font-weight: 800;
                line-height: 150%;
                text-transform: uppercase;
            }

            &_span{
                width: 50px;
                height: 3px;
                background: #4F8FF0;
                border: none;
            }
        }

        &__text{
            color: #222;
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 48px;
        }
    }

    &-articles{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    &-article{
        width: 424px;

        &__picture{
            width: 100%;
            transition: 0.5s;
            &_top{
                z-index: 100;
                position: relative;
                color: #4F8FF066;
                background: rgba(79, 143, 240, 0.40);
            }
        }

        &__hover{
            &_bl{
                // display: none;
                opacity: 0;
                position: absolute;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                left: 20px;
                bottom: 20px;
                border-top: none;
                border-right: none;
                transition: 0.5s;
            }
            &_br{
                opacity: 0;
                position: absolute;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                right: 20px;
                bottom: 20px;
                border-top: none;
                border-left: none;
                transition: 0.5s;
            }

            &_tl{
                opacity: 0;
                position: absolute;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                top: 20px;
                left: 20px;
                border-bottom: none;
                border-right: none;
                transition: 0.5s;
            }
            &_tr{
                opacity: 0;
                position: absolute;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                top: 20px;
                right: 20px;
                border-bottom: none;
                border-left: none;
                transition: 0.5s;
            }

        }

        &__div{
            opacity: 0;
            position: absolute;
            width: 41px;
            height: 40px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            background-color: #FFF;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: 0.5s;
            &_svg{
                width: 20px;
                height: 20px;
            }
        }

        &__overlay{
            background: rgba(79, 143, 240, 0.40);
            transition: 0.5s;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
        }

        &__info{
            display: flex;
            flex-direction: column;
            padding: 24.5px 0;
            gap: 16px;

            &_name{
                color: #222;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 150%;
                transition: 0.5s;
            }

            &-time-span{
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }

            &_time{
                color: #222;
                font-family: "NunitoSans", sans-serif;
                font-size: 12px;
                font-weight: 300;
                line-height: 120%;
                width: 120px;
            }

            &_Span{
                display: flex;
                align-items: center;
                width: 100%;
            }

            &_span{
                width: 100%;
                height: 1px;
                background: #F8F5F4;
                border: none;
            }

            &_text{
                color: #222;
                font-family: "NunitoSans", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 120%;
            }
        }

        &:hover{
            .materials-article{
                &__hover{
                    &_bl{
                        opacity: 1;
                    }
                    &_br{
                        opacity: 1;
                    }
                    &_tl{
                        opacity: 1;
                    }
                    &_tr{
                        opacity: 1;
                    }
                }

                &__div{
                    display: flex;
                    opacity: 1;
                }

                &__info{
                    &_name{
                        color: #4F8FF0;
                        transition: 0.5s;
                    }
                }

                &__overlay{
                    opacity: 1;
                }
            }
        }
    }

    &-button{
        display: flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 10px;
        color: #FFF;
        text-align: center;
        font-family: "NunitoSans", sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        border: 2px solid var(--blue-color-100, #4F8FF0);
        background: var(--blue-color-100, #4F8FF0);
        margin: 0 auto;
        margin-top: 48px;
    }
}

@media screen and (max-width:1120px) {
    .container-2__materials{
        padding: 0;
    }
    .materials{
        &-articles{
            display: flex;
            overflow: scroll;
            padding: 0 69px;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
        &-article{
            flex: 0 0 424px;
        }
    }
}

@media screen and (max-width:834px) {
    .materials{
        padding: 60px 0;
        &-all{
            &__articles{

            }

            &__title{
                margin-bottom: 30px;
                &_h2{
                    font-size: 24px;
                }
            }

            &__text{
                margin-bottom: 29px;
            }

        }

        &-article{
            flex: 0 0 336px;

            &__picture{
                height: 270px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .materials{
        &-article{
            flex: 0 0 250px;

            &__picture{
                height: 200px;
            }
            &__info{
                &_Span{
                    width: 120px;
                }
            }
        }

        &-all{
            &__title{
                &_h2{
                    font-size: 20px;
                }
            }

            &__text{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:390px) {
    .materials{
        padding: 40px 0;

        &-all{
            &__title{
                margin-bottom: 16px;
                &_h2{
                    font-size: 20px;
                }
            }

            &__text{
                font-size: 14px;
                margin-bottom: 24px;
            }
        }

        &-articles{
            padding: 0 24px;
        }

        &-article{
            &__info{
                &_name{
                    font-size: 14px;
                }
                
            }
        }

        &-button{
            margin-top: 40px;
        }
    }
}