.services{
    background: #F7F7F7;
    padding: 80px 0;
    &-all{
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 24px;

            &_h2{
                color: var(--colors-black-text, #222);
                font-family: "NunitoSans", sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%; 
                text-transform: uppercase;
            }

            &_hr{
                width: 50px;
                height: 3px;
                background: #4F8FF0;
                border: none;
            }

            &_text{
                max-width: 920px;
                width: 100%;
                color: var(--colors-black-text, #222);
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin: 0 auto;
                margin-bottom: 48px;
            }
        }

        &__articles{
            max-width: 1320px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
            justify-content: space-between;
            justify-items: center;
            gap: 24px;
            row-gap: 38px;
        }

        &__article{
            // max-width: 424px;
            width: 100%;
            // height: 250px;
            padding: 50px 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            background: #FFF;
            justify-content: space-between;
            // margin-bottom: 14px;
        }

        &__button{
            height: 49px;
            padding: 16px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border: 2px solid  #4F8FF0;
            background: #4F8FF0;
            color: #FFF;
            text-align: center;
            font-family: "NunitoSans", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%; 
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 48px;
        }
    }

    &-article{
        position: relative;

        path{
            transition: 0.5s;
        }

        &:hover{
            background: #4F8FF0;
            transition: 0.5s;

            cursor: url("./img/cursor.svg"), auto;
            border: none;

            path{
                // stroke: #FFFFFF;
                fill: #FFFFFF;
            }

            .services-article__info_name{
                color:#FFF;
            }
            .services-article__info_text{
                color:#FFF;
            }

            .services-article__hover{
                &_bl{
                display: block;
                }
                &_br{
                display: block;
                }
                &_tl{
                display: block;
                }
                &_tr{
                display: block;
                }
            }
        }


        &__img{
            width: 35px;
            height: 35px;
        }

        &__info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            &_name{
                color: var(--colors-black-text, #222);
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
            }

            &_text{
                color: var(--colors-black-text, #222);
                text-align: center;
                font-family: "NunitoSans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                width: 100%;
            }
        }

        &__hover{
            &_bl{
                position: absolute;
                display: none;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                border-top: none;
                border-right: none;
                left: 20px;
                bottom: 20px;
            }

            &_br{
                position: absolute;
                display: none;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                border-top: none;
                border-left: none;
                right: 20px;
                bottom: 20px;
            }

            &_tl{
                position: absolute;
                display: none;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                border-bottom: none;
                border-right: none;
                left: 20px;
                top: 20px;
            }

            &_tr{
                position: absolute;
                display: none;
                width: 35px;
                height: 35px;
                border: 1px solid #FFF;
                border-bottom: none;
                border-left: none;
                right: 20px;
                top: 20px;
            }
        }
    }
}

@media screen and (max-width:834px){
    .services{
        padding: 60px 0;

        &-all{
            &__info{
                &_h2{
                    font-size: 24px;
                }
            }

            &__articles{
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                justify-items: center;
                row-gap: 24px;
            }

            &__article{
                padding: 30px 32px 40px 32px;
                margin-bottom: 0;
            }

            &__button{
                margin-top: 48px;
            }
        }
        &-article{
            &__info{
                &_name{
                    line-height: 120%;
                }

                &_text{
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }

        &-article{
            &__info{
                &_text{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
            }
        }
    }
}

@media screen and (max-width:661px){
    .container-2{
        padding: 0px;
    }
    .services{
        &-all{
            &__articles{
                display: flex;
                overflow: scroll;
                padding: 0 69px;
            }

            &__articles{
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
            &__article{
                flex: 0 0 336px;
            }
        }
    }
}

@media screen and (max-width:390px){
    .services{
        padding: 40px 0;

        &-all{
            &__info{
                margin-bottom: 16px;
                
                &_h2{
                    font-size: 20px;
                }

                &_text{
                    font-size: 14px;
                    margin-bottom: 24px;
                }
            }

            &__articles{
                padding: 0 24px;
                
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }

            &__article{
                flex: 0 0 250px;
                height: 215px;
                padding: 24px 16px 32px 16px;
            }

            &__button{
                margin-top: 30px;
            }
        }

        &-article{
            &__info{
                &_text{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
            }
        }
    }

}