.container{
    max-width: 1920px;
    width: 100px;
    margin:0;
}

.header{
    background-image: url(./img/background-img.webp);
    padding: 0 300px;

    &__all{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        display: flex;
        justify-content: space-between;

        &-1{
            display: flex;
            justify-content: space-between;

            &_number{
                display: flex;
                justify-content: space-between;
                max-width: 162px;
                width: 100%;
                .number__img{
                    width: 32px;
                    height: 32px;
                }

                .number__text{
                    color: #FFF;
                    font-family: "NunitoSans", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }

            &_mail{
                display: flex;
                justify-content: space-between;
                max-width: 162px;
                width: 100%;

                .mail__img{
                    width: 32px;
                    height: 32px;
                }

                .mail__text{
                    color: #FFF;
                    font-family: "NunitoSans", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
        }
    }
}